<!DOCTYPE html>
<html>
<head>
    <title>API Helper by k3b4b</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
</head>
<body>

<div id="header">
    <h1>API Helper by k3b4b v{{ version }}</h1>
    <button id="theme-toggle">🌙 Тёмная тема</button>
</div>
<div id="api_key_management">
<div id="select_api_key">

    <h2>Выбор API ключа</h2>

    <div class="api-key-select-row">
        <select id="api-key-select">
            <option value="" selected></option>

            {% for key in api_keys %}
                <option value="{{ key.id }}">{{ key.description }}</option>
            {% endfor %}
        </select>

        <button
            type="button"
            id="favorite-toggle-btn"
            aria-label="Добавить API-ключ в избранное"
            title="Добавить в избранное"
            disabled>
            ☆
        </button>
    </div>

    <div class="select-api-key-bottom">

        <button
            onclick="updateOrganizations(document.getElementById('api-key-select').value)"
            class="top_buttons">
            Получить организации
        </button>

        <div class="organizations-hint">
            Здесь будет подсказка
        </div>

    </div>

</div>
    <div id="favorite_api_keys">
        <h2>Избранные API ключи</h2>
        <div id="favorite-api-key-list"></div>
    </div>
    <div id ="add_api_key">
        <h2>Добавить новый API ключ</h2>
        <form method="post" action="/api/add_api_key">
            <div class="api-key-fields">
                <label for="new-api-key">API ключ:</label>
                <input id="new-api-key" type="text" name="api_key" required placeholder="API ключ" maxlength="64">
                <label for="new-api-key-description">Описание:</label>
                <input id="new-api-key-description" type="text" name="description" required placeholder="Описание" maxlength="32">
            </div>
            <button type="submit" class="top_buttons">Добавить</button>
        </form>
    </div>
</div>

<div id="organization_info">
    <h2>Организации</h2>
    <table border="1" id="org-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th class="center-col">Выбрать</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- Вкладки + кнопка обновления -->
<div class="tabs" id="tabs-container" style="display:none; align-items:center;">
    <div style="display:flex; gap:5px;">
        <button class="tab-button" data-type="terminals">Терминалы</button>
        <button class="tab-button" data-type="payment_types">Типы оплат</button>
        <button class="tab-button" data-type="order_types">Типы заказов</button>
        <button class="tab-button" data-type="discounts">Скидки</button>
        <button id="download-nomenclature-btn">Скачать номенклатуру</button>
    </div>
    <button id="refresh-all-btn" style="margin-left:auto;">Обновить все данные</button>
</div>

<!-- Вторая таблица -->
<table border="1" id="details-table" style="display:none;">
    <caption>
        <button type="button" id="download-details-btn">
            Сохранить таблицу в .txt
        </button>
    </caption>
    <thead>
        <tr></tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    const TIMEOUT_SECONDS = "{{ timeout_seconds }}";
</script>
<script src="/static/js/refreshers.js" defer></script>
<script src="/static/js/main.js" defer></script>
</body>
</html>
